body {
  margin: 60px auto;
  width: 70%;
  background-color: f3f4f4;
}
nav ul, footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 { 
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'San-Serif';
}
p {
  font-size: 1.5 em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
ul.post {
  margin: 20px auto 40px;
  font-size: 1.5em;
}
ul.posts li{
  list-style: none;
}
#header {
  z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #dfedf9;
	margin-bottom: 10px;
}
#name {
	float:center;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #3f4040;
}
.main {
	position: relative;
	margin-top: 50px;
	width: 95%;
	height: 400px;
	background-color: #aed3f2;
	margin-bottom: 10px;
}
#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
